/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.mdc-button {
  padding: 6px 12px !important;
  width: fit-content;
  min-width: unset !important;
  height: fit-content !important;
  border-radius: 9999px !important;
}
