<form class="flex gap-3 items-center" [formGroup]="menuCreationForm">
  <mat-form-field>
    <mat-label>Petit-déjeuners</mat-label>
    <input matInput type="number" placeholder="0" [formControl]="menuCreationForm.breakfastsCount"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Repas</mat-label>
    <input matInput type="number" placeholder="0" [formControl]="menuCreationForm.mealsCount"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Collations</mat-label>
    <input matInput type="number" placeholder="0" [formControl]="menuCreationForm.collationsCount"/>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="generateMenu()">Générer le Menu</button>
</form>
<app-menu-details [menu]="menu()"/>
<div class="flex flex-col gap-4 mt-8">
  <span class="text-xl font-bold">Les derniers menus générés</span>
  <app-menus-list [menus]="lastMenus()" (openShoppingListDialog)="openShoppingListDialog($event)"></app-menus-list>
</div>
